<div class="title-search-block">
  <div class="title-block">
    <div class="row justify-content-start">
      <div class="col-6">
        <div class="row justify-content-around">
          <div class="col-auto">
            <h3 class="title"> Contactos </h3>
          </div>
          <div class="col-auto">
            <a class="btn btn-primary btn-sm rounded-s"
               data-toggle="modal"
               data-backdrop="static"
               data-target="#myModal">
              Crear contacto
            </a>
          </div>
          <div class="col-auto">
            <div class="action dropdown">
              <button class="btn  btn-sm rounded-s btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Mas acciones...
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" (click)="smModal.show()">
                  <i class="fa fa-trash-o icon"></i>Eliminar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <label class="sr-only" for="inlineFormInputGroup">Filtrar</label>
        <div class="input-group mb-1 align-self-center">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-filter"></i></span>
          </div>
          <input type="text" class="form-control form-control-sm boxed"
                 id="inlineFormInputGroup"
                 placeholder="Filtrar"
                 [(ngModel)]="filter.filter">
          <button class="btn btn-outline-primary align-self-start" (click)="onSearchClick($event)">Buscar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title ">Crear Contacto</h5>
        <button type="button" class="close" data-toggle="modal" data-target="#myModal" (click)="onModalClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="createContactForm" (ngSubmit)="createContact()">
        <div class="modal-body ">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="control-label">Nombre(s)</label>
                <input formControlName="name"
                       class="form-control form-control-sm boxed"
                       [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">El nombre es requerido</div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label">Apellido(s)</label>
                <input type="text" formControlName="lastName" class="form-control form-control-sm boxed">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div formArrayName="phoneArray">
                <label class="control-label ">Telefono</label>
                <div *ngFor="let phone of phoneArray.controls; let i=index" [formGroupName]="i">
                  <div class="row  align-items-center justify-content-between">
                    <!-- The repeated phone template -->
                    <div class="col-6">
                      <div class="form-group">
                        <input class="form-control form-control-sm boxed" formControlName="phone">
                      </div>
                    </div>
                    <div class="col-5 ">
                      <div class="form-group">
                        <select class="form-control form-control-sm boxed" formControlName="phoneType">
                          <option *ngFor="let type of phoneTypeKeys()" [ngValue]="type">{{type}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-1  align-self-start">
                      <a (click)="removePhoneForm(i)" class="trash-link">
                        <i class="fa fa-trash"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="form-group"><a (click)="addPhoneForm()" class="trash-link">
                  <i class="fa fa-plus"></i><i class="fa fa-phone"></i>
                </a></div>
                <!-- End of the repeated phone template -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div formArrayName="emailArray">
                <label class="control-label">Correo Electronico</label>
                <div *ngFor="let email of emailArray.controls; let i=index" [formGroupName]="i">
                  <div class="row align-items-center justify-content-between">
                    <!-- The repeated email template -->
                    <div class="col-6">
                      <div class="form-group">
                        <input class="form-control form-control-sm boxed" formControlName="email">
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group">
                        <select class="form-control form-control-sm boxed" formControlName="emailType">
                          <option *ngFor="let type of emailTypeKeys()" [ngValue]="type">{{type}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-1 align-self-start">
                      <a (click)="removeEmailForm(i)" class="trash-link">
                        <i class="fa fa-trash"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <a (click)="addEmailForm()" class="trash-link">
                    <i class="fa fa-plus"></i><i class="fa fa-envelope"></i>
                  </a></div>
                <!-- End of the repeated email template -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label class="control-label">Empresa</label>
                <input formControlName="company"
                       class="form-control form-control-sm boxed"
                       [typeahead]="companies"
                       typeaheadOptionField="name"
                       typeaheadSingleWords="false"
                       (typeaheadOnSelect)="onSelect($event)"
                       (typeaheadNoResults)="onNoResult($event)"
                       [ngClass]="{ 'is-invalid': submitted && f.company.errors }">
                <div *ngIf="!selectedOption && f.company.value">
                  <div class="info-label">*Se creará este cliente</div>
                </div>
                <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                  <div *ngIf="f.company.errors.required">El Cliente es requerido</div>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label class="control-label">Visible Para</label>
                <input type="text" formControlName="lastName" class="form-control form-control-sm boxed">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary">
                Aceptar
              </button>
            </div>
            <div class="col">
              <button class="btn btn-dark " data-toggle="modal" data-target="#myModal" (click)="onModalClose()">
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name2" class="modal-title pull-left">Eliminar contactos</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deseas eliminar estos contactos?</p>
      </div>
      <div class="modal-footer">
        <div class="row justify-content-between">
          <div class="col">
            <button type="button" class="btn btn-danger" (click)="smModal.hide(); deleteContactList()">
              Aceptar
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-secondary" (click)="smModal.hide()">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
