@import '../../../../_main';
@import '../../../app.component';
@import '../../../../_common/items-list/items-list';
@import '../../contact-filter/contact-filter.component';
@import '../../../../_common/form/form';
@import '../../../../_common/button/button';

ul {
  list-style: none;
  padding-left: 0;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}


.item-row {
  padding: 0 20px;
}
