<li class="item">
  <div class="item-row">
    <div class="item-col fixed item-col-check">
      <label class="item-check" id="select-all-items">
        <input type="checkbox" class="checkbox" [(checked)]='checked' [formControl]="selectedCB">
        <span></span>
      </label>
    </div>
    <div class="item-col fixed pull-left item-col-title">
      <div>
        <a [routerLink]="['/contacts',contact.id]" class="list-item-link">
          <h6 class="item-title"> {{ contact.names }} {{contact.lastNames}}</h6>
        </a>
      </div>
    </div>
    <div class="item-col item-col-category">
      <div>{{contact.company.name}}</div>
    </div>
    <div class="item-col item-col-category">
      <div>
        <ul>
          <li *ngFor="let phone of getPhones(contact.phones)" class="list-unstyled">
            <span class="badge badge-pill badge-primary">
              <i class="fa fa-home" ngClass="phone.type"></i>
            </span>
            {{phone.value}}
          </li>
        </ul>
      </div>
    </div>

    <div class="item-col item-col-category">
      <div>
        <ul>
          <li *ngFor="let email of getEmails(contact.emails)">
          <span class="badge badge-pill badge-primary">
             <i class="fa fa-home" ngClass="email.type"></i>
          </span>
            {{email.value}}
          </li>
        </ul>
      </div>
    </div>

    <div class="item-col fixed item-col-actions-dropdown">
      <div class="item-actions-dropdown" [ngClass]="{'': !toolClicked, 'active': toolClicked}">
        <a class="item-actions-toggle-btn" (click)="onToolClick()">
          <span class="inactive">
            <i class="fa fa-cog"></i>
          </span>
          <span class="active">
            <i class="fa fa-chevron-circle-right"></i>
          </span>
        </a>
        <div class="item-actions-block">
          <ul class="item-actions-list">
            <li>
              <a class="remove" (click)="smModal.show()">
                <i class="fa fa-trash-o"></i>
              </a>
            </li>
            <li>
              <a class="edit" [routerLink]="['/contacts',contact.id,'edit']">
                <i class="fa fa-pencil"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</li>


<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h6 id="dialog-sizes-name2" class="modal-title pull-left">Eliminar Contacto</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deseas eliminar este contacto?</p>
      </div>
      <div class="modal-footer">
        <div class="row justify-content-between">
          <div class="col">
            <button type="button" class="btn btn-danger" (click)="deleteContact(contact.id)">
              Aceptar
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-secondary" (click)="smModal.hide()">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
