<li class="item">
  <div class="item-row">
    <div class="item-col fixed item-col-check">
      <label class="item-check" id="select-all-items">
        <input type="checkbox" class="checkbox" [(checked)] = 'checked'>
        <span></span>
      </label>
    </div>

    <div class="item-col fixed pull-left item-col-title">
      <div>
        <a [routerLink]="['/contacts',contact.id]" class="list-item-link">
          <h6 class="item-title"> {{ contact.names }} {{contact.lastNames}}</h6>
        </a>
      </div>
    </div>
    <div class="item-col item-col-category">
      <div>{{contact.company.name}}</div>
    </div>
    <div class="item-col item-col-category">
      <div>
        <ul>
          <li *ngFor="let phone of getPhones(contact.phones)" class="list-unstyled">
            <span class="badge badge-pill badge-primary">
              <i class="fa fa-home" ngClass="phone.type"></i>
            </span>
            {{phone.value}}
          </li>
        </ul>

      </div>
    </div>

    <div class="item-col item-col-category">
      <div>
        <ul>
          <li *ngFor="let email of getEmails(contact.emails)">
          <span class="badge badge-pill badge-primary">
             <i class="fa fa-home" ngClass="email.type"></i>
          </span>{{email.value}}
          </li>
        </ul>
      </div>
    </div>

    <div class="item-col fixed item-col-actions-dropdown">
      <div class="item-actions-dropdown" [ngClass]="{'': !clicked, 'active': clicked}">
        <a class="item-actions-toggle-btn" (click)="clicked = !clicked">
          <span class="inactive">
            <i class="fa fa-cog"></i>
          </span>
          <span class="active">
            <i class="fa fa-chevron-circle-right"></i>
          </span>
        </a>
        <div class="item-actions-block">
          <ul class="item-actions-list">
            <li>
              <a class="remove" href="#" data-toggle="modal" data-target="#confirm-modal">
                <i class="fa fa-trash-o "></i>
              </a>
            </li>
            <li>
              <a class="edit" href="item-editor.html">
                <i class="fa fa-pencil"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</li>

