@import '../../../variables';
@import '../../../_common/_styles/mixins';

.header {
  background-color: $color-divider;
  height: $header-height;
  position: absolute;
  left: $sidebar-width;
  right: 0;
  transition: left 0.3s ease;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-down(md) {
    left: 0;
  }

  @include media-down(sm) {
    left: 0;
    height: $header-height-xs;
  }

  .header-fixed & {
    position: fixed;
  }

  .header-block {
    @include media-down(sm) {
      padding: 5px;
    }
  }
}

.header .header-block-collapse {

  padding-right: 5px;

  @include media-down(sm) {
    width: 155px;
  }

  .collapse-btn {
    background: none;
    border: none;
    box-shadow: none;
    color: $color-primary;
    font-size: 24px;
    line-height: 40px;
    border-radius: 0;
    outline: none;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: initial;
  }
}

.header .header-block-search {
  $line-height: $header-height - 30px;
  margin-right: auto;

  // float: left;
  padding-left: $content-padding-x-md;

  @include media-down(sm) {
    padding-left: $content-padding-x-xs;
    display: none;
  }

  @include media(md) {
    padding-left: $content-padding-x-sm;
  }

  @include media(lg) {
    padding-left: $content-padding-x-md;
  }

  @include media-up(xl) {
    padding-left: $content-padding-x-lg;
  }

  & > form {
    float: right;

    @include media-down(sm) {
      padding-left: 0;
    }
  }

  .input-container {
    position: relative;
    color: $color-text-light;

    i {
      position: absolute;
      pointer-events: none;
      display: block;
      height: $line-height;
      line-height: $line-height;
      left: 0;
    }

    input {
      background-color: transparent;
      border: none;
      padding-left: 25px;
      height: 40px;
      max-width: 150px;

      @include media-down(sm) {
        max-width: 140px;
      }
    }

    // .underline {
    // 	&:extend(.underline-animation);
    // }

    input:focus + .underline {
      transform: scaleX(1);
    }

  }
}
