<aside class="sidebar">
  <div class="sidebar-container">

    <div class="sidebar-header">
      <div class="brand">
        Global CRM
      </div>
    </div>

    <nav class="menu">
      <ul class="sidebar-menu metismenu" id="sidebar-menu">

        <li routerLinkActive="active">
          <a routerLink="/dashboard">
            <i class="fa fa-home"></i> Dashboard
          </a>
        </li>

        <li routerLinkActive="active">
          <a routerLink="/sales">
            <i class="fa fa-handshake-o"></i> Ventas
            <!--<i class="fa arrow"></i>-->
          </a>
        </li>

        <li routerLinkActive="active">
          <a routerLink="/tasks">
            <i class="fa fa-tasks"></i> Tareas
            <!--<i class="fa arrow"></i>-->
          </a>
        </li>

        <li routerLinkActive="active open">
          <a routerLink="/companies">
            <i class="fa fa-building"></i> Cuentas
            <!--<i class="fa arrow"></i>-->
          </a>
        </li>

        <li routerLinkActive="active">
          <a routerLink="/contacts">
            <i class="fa fa-users"></i> Contactos
            <!--<i class="fa arrow"></i>-->
          </a>
        </li>

      </ul>
    </nav>
  </div>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
