<div *ngIf="isContactDeleted" class="alert alert-success" role="alert">
  <strong>Contacto(s) eliminado(s) con exito</strong>
  <br>
</div>
<div class="card items">
  <ul class="item-list striped">
    <li class="item item-list-header">
      <div class="item-row">
        <div class="item-col fixed item-col-check">
          <label class="item-check" id="select-all-items">
            <input type="checkbox" class="checkbox" (click)="selectAllChBx(!selectAllCB)" [(checked)]="selectAllCB">
            <span></span>
          </label>
        </div>
        <div class="item-col item-col-header item-col-title">
          <div>
            <span>Nombre</span>
          </div>
        </div>
        <div class="item-col item-col-header item-col-category">
          <div>
            <span>Cliente</span>
          </div>
        </div>
        <div class="item-col item-col-header item-col-category">
          <div>
            <span>Telefono</span>
          </div>
        </div>
        <div class="item-col item-col-header item-col-category">
          <div>
            <span>Correo</span>
          </div>
        </div>
        <div class="item-col item-col-header fixed item-col-actions-dropdown"></div>
      </div>
    </li>
    <app-contact-list-item
      *ngFor="let contactItem of paginatedList"
      [contact]="contactItem"></app-contact-list-item>
  </ul>
</div>
<pagination [totalItems]="filteredContacts?.length"
            [itemsPerPage]="itemsXPage"
            [(ngModel)]="currentPage"
            (pageChanged)="pageChanged($event)">
</pagination>
